body {
    background-color: purple;
    margin: 0;
}

.whole {
    background-color: white;
    width: 1640px;
    margin: 0 auto;
    min-height: 120vh;
    padding: 5px;
    top: 0;
    box-shadow: 0 0 20px gray;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


#title {
    width: 1640px;
    font-size: 4em;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    display: flex;
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}
